.hero {
  padding: 3.2rem 1.6rem 0;
}

.main-heading {
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 6rem;
  line-height: 5.5rem;
  text-transform: uppercase;
  color: var(--almost-black);
}

.hero .paragraph {
  margin-top: 3.2rem;
}

.hero .btn {
  margin-top: 3.2rem;
  position: relative;
}

.hero .btn::after {
  content: "";
  width: 5.6rem;
  height: 7.2rem;
  position: absolute;
  top: 0;
  right: -5.6rem;
  background-color: var(--gold);
  background-image: url("../assets/icon-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 24px;
}

.your-day {
  margin: 12rem auto 0;
}

.your-day .section-heading {
  margin-top: 2.5rem;
}

.your-day .paragraph {
  margin-top: 2.1rem;
}

.gallery-img:nth-of-type(2) {
  margin-top: 3.2rem;
}

.gallery-img:nth-of-type(3) {
  margin-top: 1.6rem;
}

.be-inspired {
  margin: 1.6rem auto 0;
  background: var(--almost-black);
  color: var(--white);
  padding: 4.8rem 2.4rem 4.7rem;
}

.be-inspired .paragraph {
  color: var(--white);
  margin-top: 2.4rem;
}

.footer {
  margin-top: 12rem;
  background: var(--almost-black);
}

.footer-heading {
  color: var(--white);
}

.footer .paragraph {
  color: var(--white);
}
